@mixin animacion($width, $opacity){
    width: $width;
    opacity: $opacity;
}


@keyframes Titulo{
 0%{
    @include animacion(50% , 0%);
 	
 }
 25%{
    @include animacion(60% , 20%);
 	
 }
 50%{
    @include animacion(70% , 40%);
 	
 }
 75%{
    @include animacion(80% , 60%);
 	
 }
 100%{
    @include animacion(100% , 100%);
 	
 }
}

.Titulo{
	animation-name: Titulo;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 0s;
}