

@keyframes Titulo{
 0%{
 	width: 50%;
 	opacity: 0%;
 }
 25%{
 	width: 60%;
 	opacity: 20%;
 }
 50%{
 	width: 70%;
 	opacity: 40%;
 }
 75%{
 	width: 80%;
 	opacity: 60%;
 }
 100%{
 	width: 100%;
 	opacity: 100%;
 }
}
.Titulo{
	animation-name: Titulo;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 0s;
}