$centrado: center;

$fondo:(
	posicion: center,
	repeticion: no-repeat,
	imagen: url("../assets/Imagenes/a2.jpg"),
	tamaño: cover
);

body{
	background-image: map-get($fondo,imagen);
	background-repeat: map-get($fondo,repeticion);
	background-position: map-get($fondo,posicion);
	background-size: map-get($fondo,tamaño);
}

.row{
	margin: 0px ;
	
}
.carousel_mb{
	display: none;
}
.barra{
	display: none;
}

