$negro: black;
$gris: #2A2A2A;
$flex: flex;

.flex{
	display: flex;
	flex-wrap: wrap;
}

footer{
	@extend .flex;

	background-color:$negro;
	background-size:auto;
	background-image: linear-gradient( $negro, $negro);
	
	flex-direction: row-reverse;
	
	justify-content: space-between;
	align-items: center;
	border: solid white 1px;
}

.footer__logo{
	
	@extend .flex;
	
	flex-direction: row;
}